numpy
pandas
tqdm
python-dotenv

PyMuPDF
pdfplumber
pytesseract

torch
sentence-transformers
langchain-google-genai

fastembed

qdrant-client

anthropic
langgraph

scikit-learn
transformers
torchvision

regex
uuid